读取原始数据（pandas）

创建一个人工数据集，并存储在csv文件

In [4]:
import os

#创建一个名为data的文件夹
os.makedirs(os.path.join('..', 'data'), exist_ok = True)
#在新建的文件夹里新建一个.csv文件
data_file = os.path.join('..', 'data', 'house_tiny.csv')
with open(data_file, 'w') as f:
    f.write('NumRooms, Alley, Price\n')
    f.write('NA, Pave, 127500\n')
    f.write('2, NA, 106000\n')
    f.write('4, NA, 178100\n')
    f.write('NA, NA, 140000\n')

从创建的csv文件中加载原始数据

In [6]:
import pandas as pd

data = pd.read_csv(data_file)
data

   NumRooms  Alley   Price
0       NaN   Pave  127500
1       2.0     NA  106000
2       4.0     NA  178100
3       NaN     NA  140000

为了处理缺失的数据（其实机器学习要处理的问题，就是补全缺失/预测 数据），典型的方法包括 插值 和 删除，这里，我们将考虑插值

In [10]:
inputs, outputs = data.iloc[:, 0:2], data.iloc[:, 2] #iloc, index location,按指定列索引
inputs = inputs.fillna(inputs.mean()) #fillna,给NA格填充数值，mean（）所在列的平均值
print(inputs)

   NumRooms  Alley
0       3.0   Pave
1       2.0     NA
2       4.0     NA
3       3.0     NA

/var/folders/y0/mm16nl015jzclk197wnsjmqw0000gn/T/ipykernel_3078/2613855835.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  inputs = inputs.fillna(inputs.mean()) #fillna,给NA格填充数值，mean（）所在列的平均值